.idea
.DS_Store
/node_modules
/test-results
/dist
/.tmp-globalize-webpack
/.vs
/.vscode
/bin
/dist
/obj
/Properties

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
