*{
    margin: 0;
    padding: 0;
    /* 	background-color: #EEE; */
    font-family: Verdana, Arial, Helvetica, sans-serif;
    cursor: default;
    outline : 0;
    list-style-type: none;
    -webkit-user-select: none;
    font-size: 16px;
}

#optionsDiv{
    width: 500px;
    margin: auto;
	
	/*  */
	
	background: LightWhite;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
	
}

input:hover, label:hover{
    cursor: pointer;
}

li{
    width: 190px;
    height: 24px;
    line-height: 24px;
    margin: 3px;
    padding-left: 3px;
    border: 1px dashed black;
}

li :hover{
	font-weight: bold;
	cursor: pointer;
}

sup{
	color: Red;
	font-weight: Bold;
}