*{
    margin: 0;
    padding: 0;
    /* 	background-color: #EEE; */
    font-family: Verdana, Arial, Helvetica, sans-serif;
    cursor: default;
    outline : 0;
    list-style-type: none;
    -webkit-user-select: none;
}

ul{
	width: 150px;
}

li{
    background-repeat: no-repeat;
    background-position: right;
    line-height: 36px;
    cursor: pointer;
}

li:hover, li:hover > label{
    background-color: #39F;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a{
    cursor: pointer;
    color: Blue;
    text-decoration: none;
}

/* icons */
#search{
    background-image: url(../img/search.png);
}
#play{
    background-image: url(../img/play.png);
}	
#drive{
    background-image: url(../img/drive.png);
}
#translate{
    background-image: url(../img/translate.png);
}
#youtube{
    background-image: url(../img/youtube.png);
}
#mail{
    background-image: url(../img/gmail.png);
}
#plus{
    background-image: url(../img/plus.png);
}
#maps{
    background-image: url(../img/maps.png);
}
#calendar{
    background-image: url(../img/calendar.png);
}
#news{
    background-image: url(../img/news.png);
}
#shortener{
    background-image: url(../img/shortener.png);
}
#contacts{
    background-image: url(../img/contacts.png);
}