@import "tabs.scss";

* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	cursor: default;
	outline: 0;
	-webkit-user-select: none;
	font-size: 16px;

	#container {
		width: 500px;
		margin: auto;
		background: LightWhite;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		padding: 10px;

		ul {
			list-style: none;

			li {
				width: 210px;
				height: 30px;
				line-height: 30px;
				margin: 3px;
				padding-left: 3px;

				border: 1px solid black;

				background-size: 24px 24px;
				background-repeat: no-repeat;
				background-position: right;

				img {
					display: block;
					margin: auto;
					cursor: pointer;
				}

				input:hover,
				label:hover {
					cursor: pointer;
				}
			}

			li:hover {
				cursor: pointer;
			}
		}

		.text-center {
			text-align: center;
		}

		.cursor-pointer {
			cursor: pointer;
		}
	}
}
