.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;

	button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
	}

	button:hover {
		background-color: #ddd;
	}

	button.active {
		background-color: #ccc;
	}
}

.tab-content {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
